# Kubernetes secret files
auth-secret.yaml
03-postgres-secret.yaml
05-forgejo-secret.yaml
# Local .htpasswd files
.htpasswd

# Other common files to ignore
.DS_Store
*.swp
*.swo

# Experimental files only for local development
trunk